<!-- grid__item--mobile-up-12 grid__item--mobile-up-offset-1 grid__item--tablet-up-5 grid__item--desktop-up-3 -->
<div class="container-fluid">
    <div class="container">
        <div class="row text-center">
            <div class="col col-md-6 col-lg">
                <mat-card class="bg-white">
                    <mat-card-header class="offset-xl-1">
                        <mat-card-title class="prices-text-color">
                            <h1 class="heading--3">
                                One Page
                            </h1>
                        </mat-card-title>
                        <mat-card-subtitle class="prices-text-color">
                            <h5 class="heading--5 text-light">
                                Ideal para emprendedores
                            </h5>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="space-15"></div>
                        <mat-divider class="divider-line offset-10"></mat-divider>
                        <div class="space-15"></div>
                        <mat-list>
                            <mat-list-item>
                                <p>Hospedaje web</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Dominio Web</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Certificados SSL</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>6 Secciones</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Correo corporativo</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Sistema autoadministrable</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Adaptado a dispositivos móviles</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Web universal analytics</p>
                                <mat-icon class="check-price">close</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Chat en linea</p>
                                <mat-icon class="check-price">close</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Optimización SEO</p>
                                <mat-icon class="check-price">close</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Integración Email Marketing</p>
                                <mat-icon class="check-price">close</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Blog</p>
                                <mat-icon class="check-price">close</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Aplicación web progresiva</p>
                                <mat-icon (click)="tooltip.show();" #tooltip="matTooltip" matTooltip="Opcional para aplicaciones web inteligentes" class="check-price">help_outline</mat-icon>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                    <mat-card-content>
                        <a (click)="FbPixelBtnWsTrack();" class="btn-whatsapp" href="https://wa.me/584129986237" target="_blank" mat-raised-button color="primary">
                            Cotiza ahora
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col col-md-6 col-lg">
                <div class="space-30 d-md-none"></div>
                <mat-card class="bg-white">
                    <mat-card-header class="offset-xl-1">
                        <mat-card-title class="prices-text-color">
                            <h1 class="heading--3">
                                Aplicaciones web
                            </h1>
                        </mat-card-title>
                        <mat-card-subtitle class="prices-text-color">
                            <h5 class="heading--5 text-light">
                                Para proyectos funcionales
                            </h5>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="space-15"></div>
                        <mat-divider class="divider-line offset-10"></mat-divider>
                        <div class="space-15"></div>
                        <mat-list>
                            <mat-list-item>
                                <p>Hospedaje web</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Dominio Web</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Certificados SSL</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Secciones indefinidas</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Correo corporativo</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Sistema autoadministrable</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Adaptado a dispositivos móviles</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Web universal analytics</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Chat en linea</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Optimización SEO</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Integración Email Marketing</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Blog</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Aplicación web progresiva</p>
                                <mat-icon (click)="tooltip.show();" #tooltip="matTooltip" matTooltip="Opcional para aplicaciones web inteligentes" class="check-price">help_outline</mat-icon>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                    <mat-card-content>
                        <a (click)="FbPixelBtnWsTrack();" class="btn-whatsapp" href="https://wa.me/584129986237" target="_blank" mat-raised-button color="primary">
                            Cotiza ahora
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col col-md-12 col-lg">
                <div class="space-30 d-none d-md-block d-lg-none"></div>
                <div class="space-30 d-md-none"></div>
                <mat-card class="price--theme-deep-indigo">
                    <mat-card-header class="offset-xl-1">
                        <mat-card-title class="prices-text-color2">
                            <h1 class="heading--3">
                                E-commerce
                            </h1>
                        </mat-card-title>
                        <mat-card-subtitle class="prices-text-color">
                            <h5 style="color: white" class="heading--5 text-light">
                                Tiendas en linea
                            </h5>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="space-15"></div>
                        <mat-divider style="border-color: white !important" class="divider-line offset-10"></mat-divider>
                        <div class="space-15"></div>
                        <mat-list class="price-gradient">
                            <mat-list-item class="">
                                <p>Hospedaje web</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Dominio Web</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Certificados SSL</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Pasarela de pagos</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Correo corporativo</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Sistema autoadministrable</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Adaptado a dispositivos móviles</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Web universal analytics</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Carrito & Favoritos</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Optimización SEO</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Integración Email Marketing</p>
                                <mat-icon class="check-price">done</mat-icon>
                            </mat-list-item>
                            <mat-list-item>
                                <p>Enlace con Redes sociales (IG Shopping)</p>
                                <mat-icon (click)="tooltip2.show();" #tooltip2="matTooltip" matTooltip="Enlazar los productos con tus redes sociales, servicio opcional, que sirve para duplicar tus ventas" class="check-price">help_outline</mat-icon>
                            </mat-list-item>
                        </mat-list>
                    </mat-card-content>
                    <mat-card-content>
                        <a (click)="FbPixelBtnWsTrack();" class="btn-whatsapp" href="https://wa.me/584129986237" target="_blank" mat-raised-button color="primary">
                            Cotiza ahora
                        </a>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>