<div class="grid">
    <div class="grid__item grid__item--mobile-up-12 grid__item--mobile-up-offset-1 anime--appear-up">
        <div class="metrics metrics--theme-white metrics--size-md">
            <div class="metric">
                <div class="metric__big-data" data-number="5300" data-prefix="" data-suffix="+" data-decimals="" data-separator="." data-delimiter=",">5,300+</div>
                <div class="metric__small-data">Businesses trust Shopify Plus to grow bigger, faster</div>
            </div>
            <div class="metric">
                <div class="metric__big-data" data-number="100" data-prefix="$" data-suffix="B" data-decimals="" data-separator="." data-delimiter=",">$100B</div>
                <div class="metric__small-data">Total sales on Shopify</div>
            </div>
        </div>
    </div>
</div>