<div id="GlobalContactThanks" tabindex="-1" role="dialog" aria-modal="true" aria-labelledby="modal-GlobalContactThanks-heading" class="modal modal--theme-deep-indigo modal--size-md js-modal hide--no-js">
    <div class="modal__header"><button name="button" type="button" aria-label="Close" data-modal-id="GlobalContactThanks" class="modal__close-button js-modal__close-button"><svg class="icon icon icon--type-ui icon--size-sm icon--fill-white" aria-hidden="true" focusable="false"> <use xlink:href="#ui-close-24" /> </svg></button></div>
    <div class="js-modal__content modal__content copy padding--md">
        <div class="grid">
            <div class="grid__item">
                <section class="section section--theme-deep-indigo section--size-md contact-form__thanks">
                    <div class="grid">
                        <div class="grid__item grid__item--mobile-up-12 grid__item--mobile-up-offset-1 thanks-container">
                            <div class="content-block content-block--theme-white content-block--size-md">
                                <h3 class="content-block__heading heading--1">Thank you</h3>
                                <div class="content-block__text copy">
                                    <p>A Shopify Plus sales expert will contact you soon.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>