.btn-grad {
    -webkit-gradient: (linear, left top, right top, from(#0072ff), to(#00d4ff));
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(0, 114, 255)), to(rgb(0, 212, 255)));
}

.btn-grad:hover {
    -webkit-gradient: (linear, left top, right top, from(#0072ff), to(#00d4ff));
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(0, 114, 255)), to(rgb(0, 212, 255)));
}