<div id="GlobalContactModal" tabindex="-1" role="dialog" aria-modal="true" aria-labelledby="modal-GlobalContactModal-heading" class="modal modal--theme-deep-indigo modal--size-md js-modal hide--no-js">
    <div class="modal__header">
        <button (click)="dialogRef.close(null);" name="button" type="button" aria-label="Close" data-modal-id="GlobalContactModal" class="modal__close-button js-modal__close-button">
        <svg class="icon icon icon--type-ui icon--size-sm icon--fill-white" aria-hidden="true" focusable="false"> 
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M12 9.946l7.94-7.94 2.12 2.122-7.939 7.939 7.94 7.94-2.122 2.12L12 14.189l-7.94 7.94-2.12-2.122 7.939-7.94-7.94-7.938 2.122-2.122z"></path>
                </svg>
            </svg>
        </button>
    </div>
    <div class="js-modal__content modal__content copy padding--md">
        <div class="grid">
            <div class="grid__item">
                <div class="grid contact-form__container">
                    <div class="grid__item grid__item--mobile-up-12 grid__item--mobile-up-offset-1">
                        <div id="GenericFormError">
                            <div class="message message--theme-white message--size-md message--error message--dismissable js-message--dismissable form-error  is-not-visible" tabindex="-1">
                                <div aria-hidden="true" class="message__icon"><svg class="icon icon icon--type-ui icon--size-sm icon--fill-magma" aria-hidden="true" focusable="false"> <use xlink:href="#ui-warning-24" /> </svg></div>
                                <div class="message__content">
                                    <h2 class="message__header">Sorry but we’re having some problems sending your details.</h2>
                                    <p class="message__text">Please send us an email at <a href="mailto:plus@shopify.com">plus@shopify.com</a> or try again later.</p>
                                </div><button name="button" type="button" aria-label="Close" class="message__close-button js-message__close-button"><svg class="icon icon icon--type-ui icon--size-sm icon--fill-white" aria-hidden="true" focusable="false"> <use xlink:href="#ui-close-24" /> </svg></button></div>
                        </div>

                        <div class="content-block content-block--theme-white content-block--size-md">
                            <h1 class="content-block__heading heading--1">¿Estás listo para crear tu página web con nosotros?</h1>
                        </div>
                    </div>
                    <div class="grid">
                        <div style="background-color: transparent !important" class="grid__item grid__item--mobile-up-12 grid__item--mobile-up-offset-1 grid__item--tablet-up-5">
                            <form style="background-color: transparent !important" ngNativeValidate #mailchimp="ngForm" (ngSubmit)="SendForm(mailchimp);" class="plus-form" id="new_forms_signup">
                                <div class="form-group">
                                    <mat-form-field class="w-100">
                                        <input placeholder="Nombre y Apellido" type="text" matInput appearance="fill" ngModel name="name" required>
                                    </mat-form-field>
                                </div>
                                <div class="form-group">
                                    <mat-form-field class="w-100">
                                        <input placeholder="Correo electrónico" type="email" matInput appearance="fill" ngModel name="email" required>
                                    </mat-form-field>
                                </div>
                                <button mat-raised-button [disabled]="isLoading && mailchimp.invalid" class="button button--size-md btn-grad" type="submit">Suscribirme</button>

                            </form>

                        </div>
                        <div class="grid__item grid__item--mobile-up-12 grid__item--mobile-up-offset-1 grid__item--tablet-up-5 grid__item--tablet-up-offset-2">
                            <blockquote class="quote quote--theme-white quote--size-sm">
                                <div><svg class="icon quote__icon" aria-hidden="true" focusable="false"> <use xlink:href="#quote-left" /> </svg>
                                    <p class="quote__content">Por encima de todo, tienes que crear algo de lo que estés orgulloso.</p><cite class="quote__cite"><b class="quote__source heading--4">Carlos Estarita</b><span class="quote__source-title">Fundador de SYFTE C.A</span></cite></div>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>