<footer class="footer footer--theme-deep-indigo footer--size-md">
    <div class="grid footer__bottom">
        <div class="grid__item grid__item--mobile-up-12 grid__item--mobile-up-push-1">
            <div class="grid__item grid__item--desktop-up-7 footer__logo">
                <div class="footer__logo-container">
                    <img src="./assets/images/logo-marketing-initial.png" alt="">
                </div>
            </div>
            <ul class="grid__item grid__item--desktop-up-7 footer__bottom-links">
                <li class="footer__bottom-link"><a href="https://www.syftedesigns.com/es" target="_blank" class="footer__link">Página principal</a></li>
                <li class="footer__bottom-link"><a href="https://www.syftedesigns.com/es/contacto" target="_blank" class="footer__link">Contácto</a></li>
                <li class="footer__bottom-link"><a href="https://www.syftedesigns.com" target="_blank" class="footer__link">Términos y Condiciones</a></li>
            </ul>
        </div>
    </div>
</footer>