<footer class="footer footer--theme-deep-indigo footer--size-md">
    <div class="grid footer__bottom">
        <div class="grid__item grid__item--mobile-up-12 grid__item--mobile-up-push-1">
            <div class="grid__item grid__item--desktop-up-7 footer__logo">
                <div class="footer__logo-container">
                    <svg class="icon footer__logo-image" aria-hidden="true" focusable="false"> 
                        <use xlink:href="#logos-shopify-plus-bag-white" /> 
                    </svg>
                </div>
            </div>
            <ul class="grid__item grid__item--desktop-up-7 footer__bottom-links">
                <li class="footer__bottom-link"><a href="https://www.shopify.com/legal/terms" rel="nofollow noopener noreferrer" target="_blank" class="footer__link">Terms of service</a></li>
                <li class="footer__bottom-link"><a href="https://www.shopify.com/legal/privacy" rel="nofollow noopener noreferrer" target="_blank" class="footer__link">Privacy policy</a></li>
            </ul>
        </div>
    </div>
</footer>