.theme-bg {
    background: url(../../../../assets/images/consultoria-digital.png) no-repeat;
    background-size: cover;
    background-position: center;
}


/*.marketer-theme {
    background: url(../../../../assets/images/expert-marketer.jpg);
    background-size: cover;
    background-position: center;
}*/

.check-ui-color {
    color: #00d4ff !important;
    font-size: 2.325rem !important;
    margin-top: -1%
}

.btn-home {
    padding: 10px;
    font-size: 14px
}


/*.btn-grad {
    background-image: linear-gradient(to top, #4568DC 0%, #B06AB3 99%, #4568DC 100%)
}

.btn-grad:hover {
    background-position: right center;
}*/

.btn-grad {
    -webkit-gradient: (linear, left top, right top, from(#0072ff), to(#00d4ff));
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(0, 114, 255)), to(rgb(0, 212, 255)));
}

.btn-grad:hover {
    -webkit-gradient: (linear, left top, right top, from(#0072ff), to(#00d4ff));
    background-image: -webkit-gradient(linear, 0% 0%, 100% 0%, from(rgb(0, 114, 255)), to(rgb(0, 212, 255)));
}


/*.btn-gradient {
    background-color: #08AEEA;
    background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
}*/

.text-white {
    color: white;
}

.text-black {
    color: black;
}

@media only screen and (min-width: 768px) {
    .btn-home {
        width: 25%;
    }
}

@media only screen and (max-width: 480px) {
    .btn-home {
        width: 50%;
    }
}