<header class="hero hero--theme-deep-indigo hero--size-md anime" data-animation-trigger-point="top">
    <!-- menu -->
    <app-menu></app-menu>
    <!-- end menu -->
    <particles [params]="particles" [style]="{'position': 'absolute', 'width': '100%', 'height': '50%'}" [width]="100" [height]="100"></particles>
    <div class="grid grid--vertically-centered">
        <nav class="grid__item navigation" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
            <a title="página principal" href="https://www.syftedesigns.com/es">
                <img src="./assets/images/syfte-logo.png" alt="syfte logo">
            </a>
        </nav>
        <div class="grid__item grid__item--mobile-up-14 grid__item--tablet-up-8 hero__col-1 wow slideInLeft">
            <div class="content-block content-block--theme-white content-block--size-md">
                <h2 style="color: white" class="content-block__eyebrow heading--5 anime--appear-up">Genera más ventas con un sitio web increible!</h2>
                <h1 class="content-block__heading heading--2 anime--appear-up">Somos líderes en el desarrollo de sitios web</h1>
                <div class="content-block__text copy">
                    <div class="anime--appear-up" data-animation-delay=".15s">
                        <p>Si tu sitio no genera las ventas que deseas, entonces es tiempo de rediseñar.</p>
                    </div>

                    <div class="hero__cta anime--appear-up" data-animation-delay=".3s">
                        <a color="primary" mat-raised-button (click)="FbPixelBtnWsTrack();" title="Contáctanos por Whats app" href="https://wa.me/584129986237" target="_blank" class="btn-whatsapp btn-home text-white">
                                        Cotiza ahora
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid__item grid__item--mobile-up-14 grid__item--tablet-up-6 hero__col-2">
            <div>
                <!--<img class="d-none d-xl-block" style="min-width: 150% !important" src="./assets/images/web-layout.png" alt="Web-design-layouts">
                        <img class="image hero__image anime--appear d-xl-none" src="./assets/images/web-layout.png" alt="Web-design-layouts">-->
                <img class="image hero__image anime--appear wow slideInRight" src="./assets/images/web-layout-mobile.png" alt="Web-layout-development">
            </div>
            <!--<div>
                        <img class="image hero__image anime--appear" src="./assets/images/web-layout2.png" alt="Marketing analytics">
                    </div>-->
        </div>
    </div>
</header>
<div class="klout-bar klout-bar--theme-white klout-bar--size-lg klout-bar--reversed">
    <div class="grid">
        <div class="grid__item grid__item--mobile-up-12 grid__item--mobile-up-push-1 klout-bar__wrapper">
            <div class="klout-bar__images wow slideInUp">
                <img class="image klout-bar__image logo-pepsico" sizes="100vw" srcset="./assets/images/logo-caracas-coaching.png" alt="Caracas coaching patner" />
                <img class="image klout-bar__image logo-kylie" sizes="100vw" srcset="./assets/images/soluclic-patner-logo.svg" alt="Soluclic-Patner-logo" />
                <img class="image klout-bar__image logo-unilever" sizes="100vw" srcset="./assets/images/wootow-patner-logo.svg" alt="Wootow-Patner-logo" />
                <img class="image klout-bar__image logo-leesa" sizes="100vw" srcset="./assets/images/zuz-patner-logo.png" alt="Zuz-patner-logo" />
            </div>
            <div class="klout-bar__content wow slideInRight">
                <h2 class="klout-bar__heading">Emprendedores que han confiado en Syfte Designs</h2>
            </div>
        </div>
    </div>
</div>
<section class="sidecar wow slideInUp">
    <div class="grid grid--equal-height">
        <div class="grid__item grid__item--tablet-up-7 sidecar__col sidecar__col--theme-platinum sidecar__col--mobile-theme-platinum sidecar__col--size-md  ">
            <div class="content-block content-block--theme-black content-block--size-md">
                <h2 class="content-block__eyebrow heading--5">¿Porqué es necesario un sitio web?</h2>
                <h3 class="content-block__heading heading--2">Dale credibilidad a tu negocio</h3>
                <div class="content-block__text copy">
                    <p>En la actualidad la supervivencia y el éxito de los negocios depende en gran parte de las tecnologías que utilizan y a su presencia en el universo web.</p>
                    <a (click)="FbPixelBtnWsTrack();" class="btn-whatsapp" href="https://wa.me/584129986237" target="_blank" title="Contáctanos por Whats app" mat-raised-button color="primary">Cotiza ahora!</a>
                </div>
            </div>
        </div>
        <div class="grid__item grid__item--tablet-up-7 sidecar__col sidecar__col--theme-platinum sidecar__col--mobile-theme-platinum sidecar__col--size-md  ">
            <ul class="checklist checklist--theme-cobalt checklist--size-md">
                <li class="checklist__item">
                    <span class="heading--4">Hospedaje web</span>
                    <mat-icon class="icon icon icon--type-ui  icon--fill-cobalt check-ui-color">check</mat-icon>
                </li>
                <li class="checklist__item">
                    <span class="heading--4">Dominio Gratis</span>
                    <mat-icon class="icon icon icon--type-ui  icon--fill-cobalt check-ui-color">check</mat-icon>
                </li>
                <li class="checklist__item">
                    <span class="heading--4">Certificado SSL de por vida</span>
                    <mat-icon class="icon icon icon--type-ui  icon--fill-cobalt check-ui-color">check</mat-icon>
                </li>
                <li class="checklist__item">
                    <span class="heading--4">Correo electrónico empresarial</span>
                    <mat-icon class="icon icon icon--type-ui  icon--fill-cobalt check-ui-color">check</mat-icon>
                </li>
                <li class="checklist__item">
                    <span class="heading--4">Compatible con Wordpress</span>
                    <mat-icon class="icon icon icon--type-ui  icon--fill-cobalt check-ui-color">check</mat-icon>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="sidecar wow slideInUp">
    <div class="grid grid--equal-height">
        <div class="grid__item grid__item--tablet-up-7 sidecar__col sidecar__col--theme-white sidecar__col--mobile-theme-white sidecar__col--size-md  theme-bg">
            <div class="illocon anime" data-animation-delay=".5s" data-animation-trigger-point="bottom">
            </div>
        </div>
        <div class="grid__item grid__item--tablet-up-7 sidecar__col sidecar__col--theme-white sidecar__col--mobile-theme-white sidecar__col--size-md  ">
            <div class="content-block content-block--theme-black content-block--size-md">
                <h2 class="content-block__eyebrow heading--5">Consultoría Online</h2>
                <h3 class="content-block__heading heading--2">Solicita la ayuda de un experto</h3>
                <div class="content-block__text copy">
                    <p>Ideal para clientes que desean contactar con nosotros directamente mediante una cita online, donde podrá apartar en el sistema una cita virtual con nuestros consultores en base a su disponibilidad, le proporcionaremos un enlace donde
                        podrá ingresar de forma gratuita y podrá discutir todos los detalles de su proyecto con nuestro consultor digital.
                    </p>

                    <ul class="checklist checklist--theme-cobalt checklist--size-md">
                        <li class="checklist__item">
                            <span class="heading--4">Asesoría experta</span>
                            <mat-icon class="icon icon icon--type-ui  icon--fill-cobalt check-ui-color">check</mat-icon>
                        </li>
                        <li class="checklist__item">
                            <span class="heading--4">Consultor único para tu proyecto</span>
                            <mat-icon class="icon icon icon--type-ui  icon--fill-cobalt check-ui-color">check</mat-icon>
                        </li>
                        <li class="checklist__item">
                            <span class="heading--4">Solución experta para tu negocio</span>
                            <mat-icon class="icon icon icon--type-ui  icon--fill-cobalt check-ui-color">check</mat-icon>
                        </li>
                        <li class="checklist__item">
                            <span class="heading--4">Atención al cliente totalmente personalizado</span>
                            <mat-icon class="icon icon icon--type-ui  icon--fill-cobalt check-ui-color">check</mat-icon>
                        </li>
                    </ul>
                    <button id="scheduledBtn" mat-raised-button color="primary" onclick="Calendly.initPopupWidget({url: 'https://calendly.com/syftedesigns-services/web'}); fbq('track', 'Schedule'); return false;">
                                    Solicitar una cita online
                            </button>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="section section--theme-platinum section--size-sm wow slideInDown">
    <section class="section section--theme-none section--size-lg">
        <blockquote class="grid quote quote--theme-black quote--size-lg quote--full-width offset-md-3">
            <div class="grid__item grid__item--mobile-up-12 grid__item--mobile-up-push-1 grid__item--tablet-up-8 anime anime--appear-up"><svg class="icon quote__icon" aria-hidden="true" focusable="false"> <use xlink:href="#quote-left" /> </svg>
                <p class="quote__content">
                    Lo principal es descubrir las razones por las que un usuario llega hasta nuestra web y hacerlas extremadamente rápidas y fáciles de encontrar.
                </p>
                <cite class="quote__cite"><b class="quote__source heading--4">Carlos Estarita</b>
                                <span class="quote__source-title">Fundador, SYFTE C.A</span>
                            </cite>
            </div>
            <!--<div class="grid__item grid__item--mobile-up-push-2 grid__item--tablet-up-4 hide--mobile marketer-theme">
                            <span class="image lazyload-image quote__image anime anime--appear-up" style="max-width: 514px; max-height: 610px;" data-animation-delay=".2s">
                                <span class="lazyload-image__placeholder" style="padding-bottom: 118.677%">
                                </span>
                            </span>
                        </div>-->
        </blockquote>
    </section>
</div>
<section class="sidecar">
    <div class="grid grid--equal-height">
        <div class="grid__item grid__item--tablet-up-7 sidecar__col sidecar__col--theme-white sidecar__col--mobile-theme-white sidecar__col--size-md wow slideInLeft">
            <div class="content-block content-block--theme-black content-block--size-md">
                <h2 class="content-block__eyebrow heading--5">Páginas web corporativas</h2>
                <h3 class="content-block__heading heading--2">
                    Creamos aplicaciones web inteligentes
                </h3>
                <div class="content-block__text copy">
                    <p>Creamos páginas web poderosas con soporte a tiempo real e incluimos herramientas analíticas totalmente gratis, para que usted pueda llevar las riendas de su negocio a toda hora.</p>
                    <a (click)="FbPixelBtnWsTrack();" class="btn-whatsapp" href="https://wa.me/584129986237" target="_blank" title="Contáctanos por Whats app" mat-raised-button color="primary">Cotiza ahora!</a>
                </div>
            </div>
        </div>
        <div class="grid__item grid__item--tablet-up-7 sidecar__col sidecar__col--theme-white sidecar__col--mobile-theme-white sidecar__col--size-md wow slideInRight">
            <img src="./assets/images/web-layout.png" alt="web-design-layout">
        </div>
    </div>
</section>
<section class="cta cta--theme-deep-indigo cta--size-md wow slideInUp">
    <div class="grid">
        <div class="grid__item grid__item--mobile-up-12 grid__item--mobile-up-push-1 grid__item--tablet-up-9 cta__content">
            <div class="content-block content-block--theme-white content-block--size-md">
                <h2 class="content-block__heading cta__heading heading--3">¿Quierés ser parte de nuestra comunidad?. Suscríbete en nuestro boletín y entérate de nuestros ultimos descuentos</h2>
            </div>
            <button mat-raised-button color="primary" (click)="SuscriberDialog();" class="button button--theme-chartreuse button--size-md text-white" data-modal-id="GlobalContactModal">
                            Suscribirme ahora!
            </button>
        </div>
    </div>
</section>

<section id="track-fb" class="section section--theme-white section--size-lg wow fadeInUp">
    <div class="grid">
        <div class="grid__item grid__item--mobile-up-12 grid__item--mobile-up-offset-1">
            <div class="content-block content-block--theme-black content-block--size-md reliability__content-block">
                <h3 class="content-block__heading heading--2">Servicios que te ofrecemos</h3>
            </div>
        </div>
    </div>
    <!--<div class="grid grid--equal-height tile-grid">-->
    <!-- prices -->
    <app-prices></app-prices>
    <!-- end prices -->
    <!--</div>-->
</section>
<section class="section section--theme-deep-indigo section--size-lg anime wow slideInUp">
    <div class="grid">
        <div class="grid__item grid__item--mobile-up-12 grid__item--mobile-up-offset-1 anime--appear-up">
            <div class="content-block content-block--theme-white content-block--size-md padding--bottom-sm">
                <h3 class="content-block__heading heading--2">¿Estás listo para crear tu sitio web con nosotros?</h3>
            </div>
        </div>
    </div>
    <!-- contadores -->
    <app-counts></app-counts>
    <!-- end contadores -->
</section>
<section class="cta cta--theme-white cta--size-md wow slideInLeft">
    <div class="grid">
        <div class="grid__item grid__item--mobile-up-12 grid__item--mobile-up-push-1 grid__item--tablet-up-9 cta__content">
            <div class="content-block content-block--theme-black content-block--size-md">
                <h2 class="content-block__heading cta__heading heading--3">
                    El alcance de tu negocio esta en tus manos, contáctanos para más información.
                </h2>
            </div>
            <a (click)="FbPixelBtnWsTrack();" target="_blank" class="button button--theme-cobalt button--size-md btn-whatsapp" data-modal-id="GlobalContactModal" href="https://wa.me/584129986237">Contáctanos</a></div>
    </div>
</section>

<!-- here -->